.mainBackground {
  background-image: url("/dist/images/BG.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: $max-width-container;
  max-height: 100%;
}

.appPosition{
    display: flex;
    justify-content: center;
    @include breakpoint-up(small) {
        align-items: center;
    }
}

.responsive{
    width: 100%;
   height: auto;
}