.goldenRate {
  padding: 68px 24px;

  &__description {
    font-family: $main-font;
    font-weight: 400;
    color: $text-black;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 39px;
  }
  &__logo {
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
    &--size{
        max-width: 254px;
    }
  }
  &__goldInfoForm {
    margin-bottom: 26px;
  }
  &__result {
    font-family: $main-font;
    font-weight: 400;
    text-align: center;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-gold;
  }
  &__termsInfo {
    font-family: $main-font;
    font-size: 12px;
    line-height: 18px;
    color: $text-grey;
    text-align: center;
    &__link {
      color: $main-gold;
    }
  }
}
