.mainInput {
  width: 100%;
  padding: 21px 16.17px 19px 16.17px;
  height: 64px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: $white;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  &:focus {
    outline: none;
    border: 1px solid $main-gold;
    box-shadow: 0 0 10px $main-gold;
  }
}
.mainButton {
  padding: 18px 0;
  background: $main-gold;
  width: 100%;
  border-radius: 80px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $main-font;
  font-size: 16px;
  color: $white;
  border:0;
}